@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --background: 221 62% 100%;
  --foreground: 221 68% 5%;
  --muted: 191 26% 95%;
  --muted-foreground: 191 13% 26%;
  --popover: 221 62% 100%;
  --popover-foreground: 221 68% 5%;
  --card: 0 0% 99%;
  --card-foreground: 221 68% 4%;
  --border: 221 6% 94%;
  --input: 221 6% 94%;
  --primary: 221 42% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191 42% 57%;
  --secondary-foreground: 0 0% 0%;
  --accent: 251 42% 57%;
  --accent-foreground: 0 0% 100%;
  --destructive: 17 97% 31%;
  --destructive-foreground: 0 0% 100%;
  --ring: 221 42% 57%;
  --radius: 0.5rem;
 }

 .dark {
  --background: 221 50% 4%;
  --foreground: 221 33% 98%;
  --muted: 191 26% 5%;
  --muted-foreground: 191 13% 74%;
  --popover: 221 50% 4%;
  --popover-foreground: 221 33% 98%;
  --card: 221 50% 5%;
  --card-foreground: 221 33% 99%;
  --border: 221 6% 10%;
  --input: 221 6% 10%;
  --primary: 221 42% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 191 42% 57%;
  --secondary-foreground: 0 0% 0%;
  --accent: 251 42% 57%;
  --accent-foreground: 0 0% 100%;
  --destructive: 17 97% 55%;
  --destructive-foreground: 0 0% 0%;
  --ring: 221 42% 57%;
 }
}
